@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
/* 
*,body {

} */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track
{
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #888;

}
::-webkit-scrollbar-track:hover {
  background: #555;
}
